html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(1, 142, 53);
  padding: 0.25em;
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: white;
}

main {
  padding: 1em;
  display: flex;
  font-size: 1.2em;
  align-items: center;
  background-color: wheat;
}

.footer {
  background-color: rgb(0, 28, 88);
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: row;
}
.row {
  width: 100%;
  text-align: center;
}
#petCard {
  background-color: gray;
}

#petCard img {
  width: 800px;
  height: 600px;
}
.heart {
  background-color: rgb(2, 174, 16);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 3em;
  text-align: center;
  float: left;
  width: 50%;
}

.heart-broken {
  background-color: rgb(215, 35, 4);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 3em;
  text-align: center;
  float: left;
  width: 50%;
}